@import url('https://fonts.googleapis.com/css?family=Play');


* {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.player-info, .historical-figure-info, .enemy-info {
  display: inline-block;
  max-width: 350px;
  margin: 10px;
}

/*.question-block was included here*/
.character-info, .scene-image-container {
  min-width: 1140px;
  margin: 10px;
}

.question-block {
  width: 1000px;
  height: 375px;
  border: solid;
  border-radius: 15px;
  border-color: black;
  background-color: #181919;
}

.question-div {
  margin-top: 10px;
  text-align: left;
}

#answer-choices {
  width: 800px;
}

#next-question, #question {
  margin: 5px;
}

#submit-answer {
  margin-top: 20px;
}

#answer-choice-1, #answer-choice-2, #answer-choice-3, #answer-choice-4 {
  margin: 2px;
}

nav li {
 display: inline;
 margin-right: 15px;
 list-style: none;
}

nav li a.current {
 color: green;
}

a {
 text-decoration: none;
}

label {
  font-family: 'Play', sans-serif;
  color: white;
  font-size: 24px;
}

.answer-radio-button {
  /*display: inline-block;*/
  /*margin-left: 20% !important;*/
}

#player-image, #historical-figure-image, #enemy-image {
  width: 300px;
  height: 300px;
}

#player-image {
  margin-bottom: 27px;
}
