@import url('https://fonts.googleapis.com/css?family=Play');


* {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.player-info, .historical-figure-info, .enemy-info {
  display: inline-block;
  max-width: 350px;
  margin: 10px;
}

.character-info, .location-image-container, .question-block {
  min-width: 1140px;
  margin: 10px;
}

.question-div {
  text-align: left;
}

#submit-answer, #next-question, #question {
  margin: 5px;
}

#answer-choice-1, #answer-choice-2, #answer-choice-3, #answer-choice-4 {
  margin: 2px;
}

nav li {
 display: inline;
 margin-right: 15px;
 list-style: none;
}

nav li a.current {
 color: green;
}

a {
 text-decoration: none;
}

label {
  font-family: 'Play', sans-serif;
  color: white;
}

.answer-radio-button {
  /*display: inline-block;*/
  margin-left: 300px !important;
}

#player-image, #historical-figure-image, #enemy-image {
  width: 300px;
  height: 300px;
}
