@import url('https://fonts.googleapis.com/css?family=Orbitron');
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
@import url('https://fonts.googleapis.com/css?family=Play');

a {
 text-decoration: none;
}

/** {
  border: black 2px solid;
}*/

.credits-title {
  /*border: 1px solid black;*/
  width: 75%;
  height: 180px;
  margin: 0 auto;
}

#credits-heading {
  text-align: center;
  margin: 25px auto;
  font-size: 64px;
  font-family: 'Orbitron', sans-serif;
  letter-spacing: 5px;
}

#team-heading {
  text-align: center;
  margin: 25px auto;
  /*font-size: 64px;
  font-family: 'Orbitron', sans-serif;
  letter-spacing: 5px;*/
}

figure {
  /*position: relative;*/
  /*border: 1px solid black;*/
  border-radius: 5px;
  width: 75%;
  height: 150px;
  margin: 25px auto 50px 10%;
}

h3 {
  margin-left: 25px;
}

h4 {
  width: 750px;
}

img {
  border: 10px solid #5acafa;
  display: inline-block;
  font-size: 12px;
  height: 100px;
  margin: 25px;
}

/*figcaption {
  text-indent: 25px;
  position: absolute;
  display: inline-block;
  width: 75%;
  margin-top: 15px;
  font-family: 'Play', sans-serif;
  color: white;
}*/

.links {
  display: block;
  margin: 0 auto;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
  line-height: 50px;
  width: 15%;
  min-width: 20%;
  height: 50px;
  text-decoration: none;
  font-family: 'Play', sans-serif;
  font-size: 24px;
  font-weight: bold;
  background-color: #5acafa;
  color: #b43b37;
}

#home {
  margin: 80px 0 25px 0;
}

.links:hover {
  background-color: #5acafa;
  border-color: #5acafa;
  color: #edc445;

}
