@import url('https://fonts.googleapis.com/css?family=Orbitron');
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
@import url('https://fonts.googleapis.com/css?family=Play');
@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz');


/*nav li {
  display: inline;
  margin-right: 15px;
  list-style: none;
}

nav li a.current {
  color: green;
}

a {
  text-decoration: none;
}*/

body {
  background-color: #0f1f48;
  margin-top: 30px;
}

/*Fracture title container*/
header {
  height: 50px;
  /*background-color: green;*/
  padding: 30px;
}

/*Yellow CAPS Fracture heading.*/
h1 {
  font-family: 'Orbitron', serif;
  color: #edc445;
  letter-spacing: 5px;
  text-align: center;
}

h2 {
  margin: 0;
  color: #5acafa;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  letter-spacing: 5px;
  font-size: 30px;

}

p {
  margin-top: 2%;
  font-size: 19px;
  font-family: 'Play', sans-serif;
  color: white;
}

#button-one {
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
  line-height: 50px;
  width: 200px;
  height: 50px;
  text-decoration: none;
  font-family: 'Play', sans-serif;
  font-size: 24px;
  font-weight: bold;
  background-color: #5acafa;
  color: #b43b37;
}

#button-one:hover {
    background-color: #5acafa;
    border-color: #5acafa;
    color: #edc445;
}

#button-two {
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
  line-height: 50px;
  width: 200px;
  height: 50px;
  text-decoration: none;
  font-family: 'Play', sans-serif;
  font-size: 24px;
  font-weight: bold;
  background-color: #5acafa;
  color: #b43b37;
}

#button-two:hover {
    background-color: #5acafa;
    border-color: #5acafa;
    color: #edc445;
}

#button-three {
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
  line-height: 50px;
  width: 200px;
  height: 50px;
  text-decoration: none;
  font-family: 'Play', sans-serif;
  font-size: 24px;
  font-weight: bold;
  background-color: #5acafa;
  color: #b43b37;
}

#button-three:hover {
    background-color: #5acafa;
    border-color: #5acafa;
    color: #edc445;
}

.go-button {
  display:inline-block;
  margin-bottom: 2%;
  margin-top: 5%;
  margin-right: 0;
  margin-left: 10%;
  width: 20%;
  height: 40%;
  /*border: solid;
  border-color: black;*/
  float: right;
}

#top-box {
  width: auto;
  height: 200px;
  margin: 20px;
  /*border: solid;
  border-color: blue;*/
}

/*this is where I had put the top-box-image id and replaced it with the image I wanted*/
img {
  display: inline-block;
  width: 200px;
  height: 175px;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  margin-right: 0;
  border: 10px solid #5acafa;
}

#top-box-text {
  display: inline-block;
  margin: 10px;
  margin-left: 30px;
  width: 50%;
  height: 175px;
  /*border: solid;
  border-color: orange;*/
  position: absolute;
}

#center-box {
  width: auto;
  height: 200px;
  margin: 20px;
  /*border: solid;
  border-color: blue;*/

}

#center-box-image {
  display: inline-block;
  width: 200px;
  height: 175px;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  margin-right: 0;
  border: solid;
  border-color: purple;
}

#center-box-text {
  display: inline-block;
  margin: 10px;
  margin-left: 30px;
  width: 50%;
  height: 175px;
  /*border: solid;
  border-color: orange;*/
  position: absolute;
}

#bottom-box {
  width: auto;
  height: 200px;
  margin: 20px;
  /*border: solid;*/
  /*border-color: blue;*/
}

#bottom-box-image {
  display: inline-block;
  width: 200px;
  height: 175px;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  margin-right: 0;
  border: solid;
  border-color: purple;
}

#bottom-box-text {
  display: inline-block;
  margin: 10px;
  margin-left: 30px;
  width: 50%;
  height: 175px;
  /*border: solid;
  border-color: orange;*/
  position: absolute;
}

#footer {
  width: 50%;
  margin-left: 25%;
  height: 100px;
  /*border: solid;
  border-color: yellow;*/
}

#button-footer {
  margin-top: 0;
  margin-right: 5%;
  margin-left: 30%;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
  line-height: 50px;
  width: 200px;
  height: 50px;
  text-decoration: none;
  font-family: 'Play', sans-serif;
  font-size: 24px;
  font-weight: bold;
  background-color: #5acafa;
  color: #b43b37;
}

#button-footer:hover{
    background-color: #5acafa;
    border-color: #5acafa;
    color: #edc445;
}
