#fractured {
  text-align: center;
  margin-bottom: 15px;
}

img {
  display: block;
  width: 300px;
  height: 300px;
  margin: auto;
}

.name-input-form {
  background-color: green;
  height: 50px;
  width:100px;
  border-width: 2px;
  margin-left: auto;
  margin-right: auto;
  display: inline;
  text-align: center;
}

#name-form {
  /*background-color: green;*/
}

#name-input {
  margin-bottom: 20px;
}
