@import url('https://fonts.googleapis.com/css?family=Orbitron');
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
@import url('https://fonts.googleapis.com/css?family=Play');

.confirmation {
  /*border: 1px solid black;*/
  width: 100%;
  height: 800px;
  margin: 25px auto;
  text-align: center;
}

#results-image {
  margin-top: 100px;
}

#results {
  text-align: center;
  margin: 65px auto;
  font-family: 'Orbitron', sans-serif;
  font-size: 36px;
}

.score {
  /*border: 1px solid black;*/
  width: 50%;
  height: 200px;
  margin: 100px auto auto auto;
}

#score-number {
  text-align: center;
  font-size: 36px;
}

.link-box {
  /*border: 1px solid black;*/
  width: 50%;
  height: 100px;
  margin: 25px auto;
}

.links {
  display: inline-block;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
  line-height: 50px;
  width: 25%;
  min-width: 20%;
  height: 50px;
  text-decoration: none;
  font-family: 'Play', sans-serif;
  font-size: 24px;
  font-weight: bold;
  background-color: #5acafa;
  color: #b43b37;
}

.links:hover {
  background-color: #5acafa;
  border-color: #5acafa;
  color: #edc445;

}


#left-link {
  /*margin: auto;*/
}

#right-link {
  float: right;
}
