/*Historical Figure Container*/

#historical-figure {
  float: left;
  width: 60%;
  /*width: 100%;
  overflow: auto;*/
  margin-left: 20%;
  margin-right: 15%;
  /*margin: auto;*/
  margin-bottom: 2%;
  padding: 15px;
  /*border-style: solid;
  border-color: blue;
  background-color: navy;*/
}

#hidden-button-container {
  text-align: center;
}

#historical-image {
  float: left;
  width: 100px;
  height: 100px;
  margin-right: 30px;
  /*background-color: grey;*/
}

#historical-text {
  float: left;
  width: 60%;
  margin-top: 2%;
  /*border-style: solid;
  border-color: pink;*/
}

#location-image-box {
  float: left;
  width: 60%;
  /*width: 100%;
  overflow: auto;*/
  margin-left: 20%;
  margin-right: 15%;
  /*margin: auto;*/
  margin-bottom: 2%;
  padding: 15px;
  /*border-style: solid;
  border-color: green;
  background-color: lightgreen;*/
}

/*This is where the image is coming from*/
#location-image {
  border-radius: 100%;
  border-width: :0px;
  border-style: none;
  display: block;
  margin: 0px auto;
  margin-top: 30px;
  width: 300px;
  height: 300px;
  background: url(images/portal.jpg)
}

#location-image:hover { background: url(images/landscape.jpg)
}

h3 a {
  text-decoration: none;
}

h3 a:hover {
  color: #edc445;
  text-decoration: none;
}

h3 a:visited {
  color: #b43b37;
  /*color: #5acafa; blue*/
  text-decoration: none;
}

#location-text {
  margin-top: 30px;
  text-align: center;
}
