/*Historical Figure Container*/

#historical-figure {
  float: left;
  width: 60%;
  /*width: 100%;
  overflow: auto;*/
  margin-left: 20%;
  margin-right: 15%;
  /*margin: auto;*/
  margin-bottom: 2%;
  padding: 15px;
  /*border-style: solid;
  border-color: blue;
  background-color: navy;*/
}

#hidden-button-container {
  text-align: center;
}

#historical-image {
  float: left;
  width: 100px;
  height: 100px;
  margin-right: 30px;
  /*background-color: grey;*/
}

#historical-text {
  float: left;
  width: 60%;
  margin-top: 2%;
  /*border-style: solid;
  border-color: pink;*/
}

#level-content {
  overflow: auto;
  width: 90%;
  margin: auto;
  text-align: center;
  /*background-color: navy;*/
}

#location-image-box {
  overflow: auto;
  width: 70%;
  margin: auto;
  text-align: center;
  /*border-style: solid;
  border-color: green;
  background-color: lightgreen;*/
}

.scene {
  width: 300px;
  float: left;
  margin: 10px;
  margin-bottom: 30px;
  margin-left: 5%;
  /*border-width: :0px;*/
  /*border-style: none;*/
}

.scene-image {
  border-radius: 100%;
  width: 300px;
  height: 300px;
  margin-bottom: 15px;
}

.scene-name {
  /*margin-left: 15px;*/
}

#location-image:hover { background: url(images/landscape.jpg)
}

h3, a {
  text-decoration: none;
}

a:hover {
  color: #edc445;
  text-decoration: none;
}

a:visited {
  color: #b43b37;
  /*color: #5acafa; blue*/
  text-decoration: none;
}

#location-text {
  margin-top: 30px;
  text-align: center;
}
