@import url('https://fonts.googleapis.com/css?family=Orbitron');
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
@import url('https://fonts.googleapis.com/css?family=Play');
@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz');


/*Style reset.*/
* {
  margin: 0;
  padding: 0;
}

/*Page background.*/
body {
  background-color: #0f1f48;
  margin-top: 30px;
  margin-bottom: 30px;
}

/*Where all containers live.*/
#content {
  overflow: hidden;
  /*background-color: grey;*/
  width: 90%;
  margin: 30px auto 0px auto;
}

/*Fracture title container*/
header {
  height: 50px;
  /*background-color: green;*/
  padding: 30px;
}

/*Where all the main content lives*/
article {
  padding: 30px;
}

/*Optional footer.*/
/*footer {
  position: absolute;
  top: 90%;
  width: 100%;
  height: 10%;
  background-color: black;
  margin-top: 15px;
  padding: 5%;
}*/

/*Default font style and color.*/
p {
  font-family: 'Play', sans-serif;
  color: white;
  font-size: 24px;
  line-height: 1.2em;
}

/*Yellow CAPS Fracture heading.*/
h1 {
  font-family: 'Orbitron', serif;
  color: #edc445;
  letter-spacing: 5px;
  text-align: center;
}

/*Light blue name title in game*/
h2 {
  margin: 0;
  color: #5acafa;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  letter-spacing: 5px;
  font-size: 30px;
}

/*Red CAPS enter your name on the landing page.*/
h3 {
  font-family: 'Press Start 2P', sans-serif;
  /*color: #b43b37; Previous red.*/
  color: #FF0800;
  font-size: 22px;
}

/*Used for credits page text.*/
figcaption {
  text-indent: 25px;
  position: absolute;
  display: inline-block;
  width: 50%;
  margin-top: 15px;
  font-family: 'Play', sans-serif;
  color: white;
  line-height: 1.2em;
  font-size: 22px;
}

/*Light blue image border.*/
img.border-outline {
  border: 10px solid #5acafa;
}

/*Attributes for buttons.*/
button {
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    line-height: 50px;
    width: 25%;
    min-width: 20%;
    height: 50px;
    text-decoration: none;
    font-family: 'Play', sans-serif;
    font-size: 24px;
    font-weight: bold;
    background-color: #5acafa;
    color: #b43b37;
}

button:hover {
    background-color: #5acafa;
    border-color: #5acafa;
    color: #edc445;
}

/*White horizontal line under h1.*/
hr {
  color: white;
}

/*Optional copyright in footer.*/
/*#copyright {
  text-align: center;
  font-size: 12px;
  color: #4A4A4A;
}*/
