.confirmation {
  border: 1px solid black;
  width: 50%;
  height: 200px;
  margin: 25px auto;
}

#results {
  text-align: center;
  margin: 65px auto;
}

.score {
  /*border: 1px solid black;*/
  width: 50%;
  height: 200px;
  margin: 100px auto auto auto;
}

#score-number {
  text-align: center;
}
